*{
    padding: 0;
    margin: 0;
}
#header{
    background-image: url(images/banner.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
}
.navbar-nav li a{
    float: right;
    color: #fff!important;
}
.navbar-brand img{
    width: 150px;
    margin-left: 30px;
}
.navbar-toggler{
    border: none!important;
    outline: none!important;
}
nav .fa-bars{
    color: #fff!important;
    font-size: 26px;
}
/* Welcome CSS */
.welcome{
    padding: 50px 100px;
    margin-top: -140px ;
    background-color: white;
    box-shadow: 0 0 20px 7px rgba(0, 0,0,0.2);
}
.welcome h1{
    color: #333;
}
.welcome .home-btn{
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    color: rgb(5, 5, 5);
    background-color: rgb(0, 169, 221);
}
.welcome .btn:focus{
    box-shadow: none;
}
.welcome .btn:hover{
    background-color: aqua;
}

/* About-section */

#about{
    padding-top:100px;
    padding-bottom: 100px;
}
#about .col-md-6{
    padding: 20px 1opx;
}
#about h3{
    margin: 20px auto;
}
/* service */
#services{
    background-color: rgb(163, 151, 151);
    padding-top: 80px;
    padding-bottom: 80px;
}
#services .col-md-4{  
    padding: 20px;
}
#services .col-md-4 h4{  
    padding: 5px;
}
#services .col-md-4 img{  
    width: 50px;
}
#services .col-md-4 p{  
    padding: 5px;
    text-align: justify;
}

/* features */

#features{
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/feature-background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
#features .col-md-6{
    padding: 20px;
}
.feature-box{
    height: 120px;
}
.feature-box .feature-left{
    height: 120px;
    width: 20%;
    float: left;
}
.feature-box .feature-left .fa{
    padding-top: 13px;
    font-size: 50px;
}
.feature-box .feature-right{
    height: 120px;
    width: 80%;
    float: left;
}
.feature-box .feature-right h4{
    padding-top: 10px;
    padding-left: 15px;
}
.feature-box .feature-right p{
    padding-left: 15px;
    text-align: left;
}
/* testimonial-section */
#testimonial{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}
#testimonial .col-md-4{
    padding: 10px 30px;
    /* box-shadow: 10px 10px 10px 10px black; */
    padding-bottom: 10px;
}
#testimonial p{
    border-radius: 50%;
}
#testimonial img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: -40px;
    border: 5px Solid white;
    margin-bottom: 30px;
}
.review{
    font-size: 16px;
    padding: 10px 10px 10px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0,0.2);
}
.review .fa-twitter{
    color: rgb(0, 255, 191);
}
#testimonial span{
    color: rgb(0, 255, 191);
    font-weight: 600;
    font-size: 16px;
}
#testimonial h1{
    margin-bottom: 20px;
    color: rgb(14, 79, 105);
}
#testimonial p{
    padding-bottom: 20px;
    /* color: bisque; */
    border-radius: 20%;
}
#testimonial .middle{
    margin-bottom: -30px;
    margin-top: -30px;

}

/* Subscibe-Section */
.subscribe{
    padding: 50px 30px;
    position: relative;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0,0.2);
    margin-bottom: -100px;
}
.subscribe .container{
    background-color: rgb(10, 50, 182);
    padding: 0px;

}
.subscribe h3, .subscribe p{
    color: white;

}
.subscribe .input-group{
    border-radius: 30px;
    background-color: #fff;
    max-width: 500px;
    margin: 10px auto;
    padding: 5px;
}
.subscribe .form-control{
    border: none;
    background: transparent;
}
.subscribe .form-control:focus{
    box-shadow: none;
    background: transparent;
}
.subscribe .input-group-append{
    background-image: linear-gradient(to right,#1c03b5,#5c8bef);
    border-radius: 30px;
}
.subscribe .input-group-text{
    background: transparent;
    border: none;
    color: white;
}
/* footer-Section */

#footer{
    padding: 100px;
    margin-top: 80px;
    background-color: rgb(197, 185, 185);
}
.footer-logo{
    width: 150px;
    margin-top: 25px;
    margin-bottom: 15px;
}
#footer h1{
    font-size: 15px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
}
#footer p{
    font-size: 12px;
    /* text-align: center; */
}
#footer .city{
    margin-left: 37px;
}
#footer .row .fa{
    padding-right:20px;
    font-size: 15px;
}
#footer hr{
    margin-top: 10px;
}
#footer .fa-heart-o {
    color: red;
    font-size: 17px;
}
#copyright{
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
}